
body { font-family: sans-serif; margin: 1em; background: #fff; }

/*li { margin: 0; padding-right: 0; }*/
#readFun { text-align:center; max-width: 600px; font-size: 14px;}

#markdownOut { border: 1px solid #ccc; padding: 0.5em; background:#f9f9f9 ; max-width: 600px; font-size: 18px;}